streamlit==1.52.0
pandas>=2.2.0
numpy>=1.26.4
supabase>=2.5.0
python-dateutil>=2.8.0
openpyxl
xlrd==2.0.1
XlsxWriter
Pillow
fpdf
reportlab
beautifulsoup4
lxml
pdfplumber
streamlit-searchbox
streamlit-autorefresh
pydeck
gspread
google-auth
resend==2.19.0
